/*
Charles Bennington
CPSC 322-01
HW3
9/14/2024
*/

/* Media query for smaller screens */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%; /* Each column takes 50% width initially */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .row {
        flex-direction: column; /* Stack columns vertically */
    }
    .col {
        flex: 1 1 100%; /* Each column takes full width */
    }
}

button {
    text-decoration: none;
    color: 	darkgrey;
    background-color: black;
    font-size: 150%;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Smooth transition effect */
    border: 2px solid darkgrey; /* Add a border on hover */
    border-radius: 5px;
}

button:hover {
    text-decoration: none;
    color: #006400;
    font-size: 160%; /* Slightly increase font size on hover */
    font-weight: bold;
    border: 2px solid #006400; /* Add a border on hover */
    border-radius: 5px;
}

#githubContact {
    text-decoration: none;
    color: #ff006a;
    font-size: 150%;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Smooth transition effect */
}
#githubContact:hover {
    text-decoration: none;
    color: #ff006a;
    font-size: 160%; /* Slightly increase font size on hover */
    font-weight: bold;
    border: 2px solid #ff006a; /* Add a border on hover */

}

#Nav-IFrame {
    border: none;
    overflow-y: hidden;
    scrolling: "no";
    width: 100%;
    align-self: center;
    position: fixed;
    margin: 0;
    padding: 0;
    /* Set the height of the header to 100% of the viewport height */
    top: 0;
    max-height: 100px;
}

#projects {
    text-decoration: none;
    color: #4caf50;
    font-size: 150%;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Smooth transition effect */
}
#projects:hover {
    text-decoration: none;
    color: #4caf50;
    font-size: 160%; /* Slightly increase font size on hover */
    font-weight: bold;
    border: 2px solid #4caf50; /* Add a border on hover */

}


#linkedInContact {
    text-decoration: none;
    color: #0e76a8;
    font-size: 150%;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Smooth transition effect */
}
#linkedInContact:hover {
    text-decoration: none;
    color: #0e76a8;
    font-size: 160%; /* Slightly increase font size on hover */
    font-weight: bold;
    border: 2px solid #0e76a8; /* Add a border on hover */

}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover{
    color: darkgrey;
}

#container {
    display: flex;
    margin-inside: 5px;
}

/*Sections*/
#Career-Summary-Div {
    border: #eeeeee;
}
#Education-and-Qualifications-Div {
    text-align: center;
}
#Career-Summary-Div {

}

/* unvisited link */
a:link {
    color: #ff006a;
}
ol {
    list-style-type: lower-roman;
}
ol li {
    border-bottom: solid;
}
/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


nav {
    flex: 0 1 20%;
}

main {
    flex: 0 1 60%;
}

aside {
    flex: 0 1 20%;
}

progress{
    border-radius: 25px;
    width: 200px;
    height: 50px;
    color: orange;
}
/* EXTRA CREDIT special effect */
progress[value]::-webkit-progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 50px;
    background-color: #eee;
    transition: width 300ms ease;
}
progress[value]::-webkit-progress-value {
    width: 0;
    border-radius: 50px;
    background-color: darkorange;
    transition: width 300ms ease;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: dimgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: whitesmoke;
}
.dropdown:hover .dropdown-content {
    display: block;
}
html { height: 100%; }
body {
    min-height: 100%;
    background-color: black;
}


.normal {
    color: whitesmoke;
    display: block;
    font-size: 20px;
}

h2 {
    color: whitesmoke;
    display: block;
    font-size: 40px;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-inside: 10px;
}

header {
    overflow: hidden;
    background-color: black;
    border-bottom-color: #eeeeee;
    position: fixed;
    margin: 0;
    padding: 0;
    /* Set the height of the header to 100% of the viewport height */
    top: 0;
    left: 0;
    width: 90vw;
    z-index: 1; /* set higher z-index value */
}

/* EXTRA CREDIT custom font */
/*Citation : https://sketchdeck.com/blog/combining-fonts/*/

header h1 {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 45px;
    line-height: 25px;
    border-radius: 4px;
    font-family: "Century Gothic", serif;

}

/*Text colors*/
p,h2,h3,h4,label,strong,em {
    color: whitesmoke;
    font-family: sans-serif, "Times New Roman";
}

header div{
    float: right;
}

header div a{
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    color: #9d9e9d;
}

em {
    color: #dedcdc;
}


h1 {
    color: whitesmoke;
    display: block;

    font-size: 40px;

}
#topName{
    color: whitesmoke;
    display: block;
    margin-left: unset;
    margin-right: unset;
    text-align: left;
}

main {
    /*background-color: black;*/
    margin-left: 10px;
    border-radius: 10px;
}
em,li {
    color: #eeeeee;
}

h1 span:hover {
    color: #ff006a;
    text-size-adjust: 110%;
}

td h3 {

    text-decoration-style: solid;
    text-decoration-color: darkorange;

}



 nav table tr:nth-child(even)
 {
     background-color: black;
 }

img{
    border-radius: 30px;
}

td{
   border-bottom: solid;
    border: whitesmoke;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*One youtube tutorial later....*/
/* EXTRA CREDIT special effect */
#move {
    background: linear-gradient(
            to right,
            yellowgreen,
            yellow
    );
    height: 30px;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -20%);
    position: fixed;
    border-radius: 50%;
    pointer-events: none
}

p{
    font-size: 22px;
}


/*COOL ANIMATION */
.tag-list {
    width: 50rem;
    max-width: 90vw;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;
}

.loop-slider {
    .inner {
        display: flex;
        width: fit-content;
        animation-name: loop;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: var(--direction);
        animation-duration: var(--duration);
    }
}

.tag img {
    border-radius: 0%;
}

.inner img
{
    width: 75px;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: #334155;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    margin-right: 1rem; /* Must used margin-right instead of gap for the loop to be smooth*/
box-shadow:
0 0.1rem 0.2rem rgb(0 0 0 / 20%),
0 0.1rem 0.5rem rgb(0 0 0 / 30%),
0 0.2rem 1.5rem rgb(0 0 0 / 40%);

    span {
        font-size: 1.2rem;
        color: #64748b;
    }
}

.fade {
    pointer-events: none;
    background: linear-gradient(90deg, #000000, transparent 30%, transparent 70%, #000000);
    position: absolute;
    inset: 0;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/*Aurora Animation*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
    --bg: #000000;
    --clr-1: #00c2ff;
    --clr-2: #33ff8c;
    --clr-3: #ffc640;
    --clr-4: #e54cff;

    --blur: 1rem;
    --fs: clamp(3rem, 3vw, 7rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg);
    color: #fff;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

.content {
    text-align: center;
}

.title {
    color: whitesmoke;
    display: block;
    font-size: 40px;
    overflow: hidden;
    position: relative;
    background: black;
    color: whitesmoke;
    display: block;

}

.aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: darken;
    pointer-events: none;
}

.aurora__item {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(var(--blur));
    mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
    top: -50%;
    animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
    background-color: var(--clr-3);
    right: 0;
    top: 0;
    animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
    background-color: var(--clr-2);
    left: 0;
    bottom: 0;
    animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
    background-color: var(--clr-4);
    right: 0;
    bottom: -50%;
    animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
    0% {
        top: 0;
        right: 0;
    }

    50% {
        top: 100%;
        right: 75%;
    }

    75% {
        top: 100%;
        right: 25%;
    }

    100% {
        top: 0;
        right: 0;
    }
}

@keyframes aurora-2 {
    0% {
        top: -50%;
        left: 0%;
    }

    60% {
        top: 100%;
        left: 75%;
    }

    85% {
        top: 100%;
        left: 25%;
    }

    100% {
        top: -50%;
        left: 0%;
    }
}

@keyframes aurora-3 {
    0% {
        bottom: 0;
        left: 0;
    }

    40% {
        bottom: 100%;
        left: 75%;
    }

    65% {
        bottom: 40%;
        left: 50%;
    }

    100% {
        bottom: 0;
        left: 0;
    }
}

@keyframes aurora-4 {
    0% {
        bottom: -50%;
        right: 0;
    }

    50% {
        bottom: 0%;
        right: 40%;
    }

    90% {
        bottom: 50%;
        right: 25%;
    }

    100% {
        bottom: -50%;
        right: 0;
    }
}

@keyframes aurora-border {
    0% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }

    25% {
        border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }

    50% {
        border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }

    75% {
        border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }

    100% {
        border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
}


/*Da Glitch animation*/



.glitchText {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 40px;
    display: flex;
}
.glitchText:hover {
    text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
    0.025em 0.05em 0 #50c878;
    color: rgba(0, 194, 203, 0.2);
}
.glitchText:before,
.glitchText:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}
.glitchText:hover::before {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
}
.glitchText:hover::after {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 20%, 100% 100%, 0 70%);
    transform: translate(0.0125em, 0.025em);
}
@keyframes glitch {
    0% {
        color: rgba(236, 34, 37, 0.2);
        text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
        0.025em 0.05em 0 #50c878;
    }
    14% {
        text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
        0.025em 0.05em 0 #50c878;
    }
    15% {
        color: #50c878;
        text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
        -0.05em -0.05em 0 #50c878;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
        -0.05em -0.05em 0 #50c878;
    }
    50% {
        text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
        0 -0.05em 0 #50c878;
    }
    99% {
        color: #313f97;
        text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
        0 -0.05em 0 #50c878;
    }
    100% {
        text-shadow: -0.025em 0 0 #ec2225, -0.025em -0.025em 0 #313f97,
        -0.025em -0.05em 0 #50c878;
    }
}
