/*
Charles Bennington
CPSC 322-01
HW3
9/14/2024
*/

#emailContact {
    text-decoration: none;
    color: #ff006a;
    font-size: 150%;
    font-weight: bold;
}
#githubContact {
}
#linkedInContact {
    text-decoration: none; color: #0e76a8; font-size: 150%; font-weight: bold;

}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover{
    color: darkgrey;
}

#container {
    display: flex;
    margin-inside: 5px;
}

/*Sections*/
#Career-Summary-Div {
    border: #eeeeee;
}
#Education-and-Qualifications-Div {

}
#Career-Summary-Div {

}

/* unvisited link */
a:link {
    color: #ff006a;
}
ol {
    list-style-type: lower-roman;
}
ol li {
    border-bottom: solid;
}
/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


nav {
    flex: 0 1 20%;
}

main {
    flex: 0 1 60%;
}

aside {
    flex: 0 1 20%;
}

progress{
    border-radius: 25px;
    width: 200px;
    height: 50px;
    color: orange;
}
/* EXTRA CREDIT special effect */
progress[value]::-webkit-progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 50px;
    background-color: #eee;
    transition: width 300ms ease;
}
progress[value]::-webkit-progress-value {
    width: 0;
    border-radius: 50px;
    background-color: darkorange;
    transition: width 300ms ease;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: dimgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: whitesmoke;
}
.dropdown:hover .dropdown-content {
    display: block;
}
html { height: 100%; }
body {
    min-height: 100%;
    background-color: black;
}


.normal {
    color: whitesmoke;
    display: block;
    font-size: 20px;
}

h2 {
    color: whitesmoke;
    display: block;
    font-size: 40px;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-inside: 10px;
}

header {
    overflow: hidden;
    background-color: black;
    border-bottom-color: #eeeeee;
    position: fixed;
    margin: 0;
    padding: 0;
    /* Set the height of the header to 100% of the viewport height */
    top: 0;
    left: 0;
    width: 90vw;
    z-index: 1; /* set higher z-index value */
}

/* EXTRA CREDIT custom font */
/*Citation : https://sketchdeck.com/blog/combining-fonts/*/

header h1 {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 45px;
    line-height: 25px;
    border-radius: 4px;
    font-family: "Century Gothic", serif;

}

/*Text colors*/
p,h2,h3,h4,label,strong,em {
    color: whitesmoke;
    font-family: sans-serif, "Times New Roman";
}

header div{
    float: right;
}

header div a{
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

h4 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


h1 {
    color: whitesmoke;
    display: block;

    font-size: 40px;

}
#topName{
    color: whitesmoke;
    display: block;
    margin-left: unset;
    margin-right: unset;
    text-align: left;
}

main {
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
}
em,li {
    color: #eeeeee;
}

h1 span:hover {
    color: #ff006a;
    text-size-adjust: 110%;
}

td h3 {

    text-decoration-style: solid;
    text-decoration-color: darkorange;

}

 tr:nth-child(even)
{
    background-color: dimgray;
}

 nav table tr:nth-child(even)
 {
     background-color: black;
 }

img{
    border-radius: 30px;
}

td{
   border-bottom: solid;
    border: whitesmoke;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*One youtube tutorial later....*/
/* EXTRA CREDIT special effect */
#move {
    background: linear-gradient(
            to right,
            yellowgreen,
            yellow
    );
    height: 30px;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -20%);
    position: fixed;
    border-radius: 50%;
    pointer-events: none
}

p{
    font-size: 22px;
}
